body {
    color: #0c0b0b;
 }

.jumbotron {
   background-image: url("../images/bacteria.jpg");
   background-size: contain;
   text-align: center;
 }

 h1, h2, h3, h4, h5, h6 {

   font-weight:bold;
 
 }